<div class="d-flex justify-content-center">
    <form class="form-signin p-5" action="/user_verify_credentials" method="post">

      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Scheduler</h1>
        <p>Sign in now to create your own schedules.</p>
      </div>

      <div class="form-label-group">
        <input type="email" id="inputEmail" name="query_email" class="form-control" placeholder="Email address" required="">
        <label for="inputEmail"></label>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword" name="query_password" class="form-control" placeholder="Password" required="">
        <label for="inputPassword"></label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted text-center">Or, <a href="/user_sign_up">Sign up</a> instead.</p>
    </form>
  </div>     
</div>
